.p-t-h {
  box-shadow: 0px 3.87px 3.87px 0px #00000040;
}

/* .patient-table {
  width: Fill (1, 080px) px;
  height: Fixed (59px) px;
  padding: 5px 10px 5px 10px;
  gap: 12px;
  border-radius: 0px 0px 28px 28px;
  opacity: 0px;
} */

.p-t-r {
  box-shadow: 0px 2px 2px 0px #00000040;
}

.p-t-r:hover {
  box-shadow: 0px 3.87px 3.87px 0px #00000040;
}
.p-s-i {
  box-shadow: 0px 10px 60px 0px #0000001f;

  border-radius: 12px;
  border: 0.8px;
  opacity: 0px;
}

.add-p-i {
  border: 1px solid #dadada;
}

.add-p-i:hover {
  background-color: #f5e7e6;
}
