# Database connection string
DATABASE_URL="mysql://root:rootpassword@localhost:3306/clinic_system_db"

# JWT Secret Key
JWT_KEY="CLINIC_SYSTEM_SECRET_KEY_510"

# Application Environment & Port
NODE_ENV="development"
PORT=4000

# Storage / MinIO (Optional)
MINIO_BASE_URL="http://localhost:9000"
